*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
}

nav {
  width: 100%;
  position: absolute;
  z-index: 10;
  top: 0;
  background: #fff;

  .toggle {
    @media (min-width: 768px) {
      display: none;
    }

    width: 100%;
    height: 58px;
    padding: 0 20px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 18px;

    .menu {
      &.close {
        background: url(../images/close.svg);
        background-size: cover;
      }
      background: url(../images/menu.svg);
      width: 24px;
      height: 24px;
      background-size: cover;
      cursor: pointer;
      margin-right: 1.5rem;
    }
  }

  ul {
    display: flex;
    justify-content: space-between;
    &.active {
      display: block;
    }
    max-width: 968px;
    display: none;

    > li {
      display: none;
    }

    @media (min-width: 768px) {
      div {
        li a:hover {
          background: unset;
        }
        li:last-child {
          border: none;
        }
        li a {
          padding: 20px 10px;
        }
      }

      &.active {
        display: flex;
      }

      display: flex;

      li {
        display: inline-block;
      }
    }
    // width: 100%;
    margin: 0 auto;

    li {
      transition: 0.3s;
      list-style: none;

      &:last-child {
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
      }
      a {
        transition: 0.2s ease-out;
        &:hover {
          @media (min-width: 768px) {
            background: unset;
          }
          color: #717171;
          background: rgba(0, 0, 0, 0.05);
        }
        display: block;
        padding: 20px;
        color: #222;
        text-decoration: none;
      }
    }
  }
}

.padding-container {
  @media (min-width: 968px) {
    margin-left: 0;
    margin-right: 0;
  }

  margin-right: 30px;
  margin-left: 30px;
}

.words-container {
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border-radius: 16px;
  max-width: 968px;
  margin: 50px auto;
  margin-top: 108px;
  padding-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  position: relative;
  transition: 0.3s;
  background: #fff;
  color: #000;

  @media (min-width: 1300px) {
    height: 500px;
  }

  &.black {
    background: #000;
    color: #fff;
  }

  .dark-mode {
    &:hover {
      transform: scale(1.15);
    }
    transition: transform 0.1s ease-out;

    background-image: url(../images/moon.svg);
    width: 30px;
    height: 30px;
    background-size: cover;
    cursor: pointer;
    position: absolute;
    bottom: 0.9rem;
    left: 1rem;
    transition: 0.3s;

    &.black {
      background-image: url(../images/sun.svg);
      background-size: cover;
      filter: brightness(0) invert(1);
    }
  }

  .fullscreen {
    &:hover {
      transform: scale(1.15);
    }
    transition: transform 0.1s ease-out;

    @media (max-width: 600px) {
      background-image: unset;

      &.black {
        display: none;
      }
    }

    background-image: url(../images/fullscreen.svg);
    width: 36px;
    height: 36px;
    background-size: cover;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    bottom: 0.7rem;

    &.black {
      filter: brightness(0) invert(1);
    }

    &.exit {
      background: url(../images/fullscreen-exit.svg);
      width: 36px;
      height: 36px;
      background-size: cover;
    }
  }

  h1 {
    font-size: 3.6rem;

    @media (min-width: 768px) {
      font-size: 4.8rem;
    }
  }
}

.controls {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  background: #f5f5f5;
  height: 100px;

  &__wrapper {
    padding-right: 1rem;
    height: 100px;
    max-width: 968px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  p {
    font-size: 0.9rem;
    opacity: 0.6;
    margin-bottom: 6px;
    text-align: left;
  }

  select {
    border: solid 1px #979797;
    background: #fff;
    background-image: url(../images/arrows.svg);
    background-position-x: 98%;
    background-position-y: 8px;
    background-size: 22px;
    background-repeat: no-repeat;
    padding-left: 13px;
    width: 140px;
    height: 40px;
    -webkit-appearance: none;
    font-size: 17px;
    outline: none;
    margin-bottom: 12px;
  }

  .picker-label {
    margin-left: 13px;
  }

  .number-picker {
    display: inline-block;
    margin-left: 1rem;
    position: relative;
    margin-bottom: 12px;

    input[type="number"] {
      width: 55px;
      height: 40px;
      text-align: center;
      border: none;
      box-shadow: none;
      border-radius: unset;
      border: solid 1px #979797;
      background-color: #fff;
      font-size: 17px;
      font-weight: normal;
      outline: none;
      -webkit-appearance: none;

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }

  button {
    outline: none;
    margin-left: -5px;
    font-size: 15px;
    width: 32px;
    height: 40px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: solid 1px #979797;
    background-color: #ffffff;

    &:first-child {
      margin-right: -5px;
      border-radius: unset;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  }
}

.sc-container {
  background: #f5f5f5;
  display: flex;
  justify-content: center;

  iframe {
    max-width: 968px;

    width: 100%;
    height: 400px;
  }
}
