*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto";
}

nav {
  width: 100%;
  position: absolute;
  z-index: 10;
  top: 0;
  background: #fff;
}

nav .toggle {
  width: 100%;
  height: 58px;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 18px;
}

@media (min-width: 768px) {
  nav .toggle {
    display: none;
  }
}

nav .toggle .menu {
  background: url(../images/menu.svg);
  width: 24px;
  height: 24px;
  background-size: cover;
  cursor: pointer;
  margin-right: 1.5rem;
}

nav .toggle .menu.close {
  background: url(../images/close.svg);
  background-size: cover;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 968px;
  display: none;
  margin: 0 auto;
}

nav ul.active {
  display: block;
}

nav ul > li {
  display: none;
}

@media (min-width: 768px) {
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav ul div li a:hover {
    background: unset;
  }
  nav ul div li:last-child {
    border: none;
  }
  nav ul div li a {
    padding: 20px 10px;
  }
  nav ul.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav ul li {
    display: inline-block;
  }
}

nav ul li {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  list-style: none;
}

nav ul li:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

nav ul li a {
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  display: block;
  padding: 20px;
  color: #222;
  text-decoration: none;
}

nav ul li a:hover {
  color: #717171;
  background: rgba(0, 0, 0, 0.05);
}

@media (min-width: 768px) {
  nav ul li a:hover {
    background: unset;
  }
}

.padding-container {
  margin-right: 30px;
  margin-left: 30px;
}

@media (min-width: 968px) {
  .padding-container {
    margin-left: 0;
    margin-right: 0;
  }
}

.words-container {
  position: absolute;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border-radius: 16px;
  max-width: 968px;
  margin: 50px auto;
  margin-top: 108px;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 300px;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: #fff;
  color: #000;
}

@media (min-width: 1300px) {
  .words-container {
    height: 500px;
  }
}

.words-container.black {
  background: #000;
  color: #fff;
}

.words-container .dark-mode {
  -webkit-transition: -webkit-transform 0.1s ease-out;
  transition: -webkit-transform 0.1s ease-out;
  transition: transform 0.1s ease-out;
  transition: transform 0.1s ease-out, -webkit-transform 0.1s ease-out;
  background-image: url(../images/moon.svg);
  width: 30px;
  height: 30px;
  background-size: cover;
  cursor: pointer;
  position: absolute;
  bottom: 0.9rem;
  left: 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.words-container .dark-mode:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.words-container .dark-mode.black {
  background-image: url(../images/sun.svg);
  background-size: cover;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.words-container .fullscreen {
  -webkit-transition: -webkit-transform 0.1s ease-out;
  transition: -webkit-transform 0.1s ease-out;
  transition: transform 0.1s ease-out;
  transition: transform 0.1s ease-out, -webkit-transform 0.1s ease-out;
  background-image: url(../images/fullscreen.svg);
  width: 36px;
  height: 36px;
  background-size: cover;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  bottom: 0.7rem;
}

.words-container .fullscreen:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

@media (max-width: 600px) {
  .words-container .fullscreen {
    background-image: unset;
  }
  .words-container .fullscreen.black {
    display: none;
  }
}

.words-container .fullscreen.black {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.words-container .fullscreen.exit {
  background: url(../images/fullscreen-exit.svg);
  width: 36px;
  height: 36px;
  background-size: cover;
}

.words-container h1 {
  font-size: 3.6rem;
}

@media (min-width: 768px) {
  .words-container h1 {
    font-size: 4.8rem;
  }
}

.controls {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  background: #f5f5f5;
  height: 100px;
}

.controls__wrapper {
  padding-right: 1rem;
  height: 100px;
  max-width: 968px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.controls p {
  font-size: 0.9rem;
  opacity: 0.6;
  margin-bottom: 6px;
  text-align: left;
}

.controls select {
  border: solid 1px #979797;
  background: #fff;
  background-image: url(../images/arrows.svg);
  background-position-x: 98%;
  background-position-y: 8px;
  background-size: 22px;
  background-repeat: no-repeat;
  padding-left: 13px;
  width: 140px;
  height: 40px;
  -webkit-appearance: none;
  font-size: 17px;
  outline: none;
  margin-bottom: 12px;
}

.controls .picker-label {
  margin-left: 13px;
}

.controls .number-picker {
  display: inline-block;
  margin-left: 1rem;
  position: relative;
  margin-bottom: 12px;
}

.controls .number-picker input[type="number"] {
  width: 55px;
  height: 40px;
  text-align: center;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: unset;
  border: solid 1px #979797;
  background-color: #fff;
  font-size: 17px;
  font-weight: normal;
  outline: none;
  -webkit-appearance: none;
}

.controls .number-picker input[type="number"]::-webkit-inner-spin-button, .controls .number-picker input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.controls button {
  outline: none;
  margin-left: -5px;
  font-size: 15px;
  width: 32px;
  height: 40px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: solid 1px #979797;
  background-color: #ffffff;
}

.controls button img {
  width: 13px;
  height: 12px;
}

.controls button:first-child {
  margin-right: -5px;
  border-radius: unset;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.sc-container {
  background: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sc-container iframe {
  max-width: 968px;
  width: 100%;
  height: 400px;
}
/*# sourceMappingURL=main.css.map */