*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto";
}

.words-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 300px;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: #fff;
  color: #000;
}

@media (min-width: 1200px) {
  .words-container {
    height: 500px;
  }
}

.words-container.black {
  background: #000;
  color: #fff;
}

.words-container .dark-mode {
  background-image: url(../images/moon.svg);
  width: 30px;
  height: 30px;
  background-size: 30px;
  cursor: pointer;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.words-container .dark-mode.black {
  background-image: url(../images/sun.svg);
  background-size: 30px;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.words-container .fullscreen {
  background-image: url(../images/fullscreen.svg);
  width: 36px;
  height: 36px;
  background-size: cover;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  bottom: 0.7rem;
}

@media (max-width: 600px) {
  .words-container .fullscreen {
    background-image: unset;
  }
  .words-container .fullscreen.black {
    display: none;
  }
}

.words-container .fullscreen.black {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.words-container .fullscreen.exit {
  background: url(../images/fullscreen-exit.svg);
  width: 36px;
  height: 36px;
  background-size: cover;
}

.words-container h1 {
  font-size: 5rem;
}

.controls {
  padding-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  background: #f5f5f5;
}

.controls p {
  font-size: 0.9rem;
  opacity: 0.6;
  margin-bottom: 6px;
  text-align: left;
}

.controls select {
  border: solid 1px #979797;
  background: #fff;
  background-image: url(../images/arrows.svg);
  background-position-x: 98%;
  background-position-y: 8px;
  background-size: 22px;
  background-repeat: no-repeat;
  padding-left: 13px;
  width: 140px;
  height: 40px;
  -webkit-appearance: none;
  font-size: 17px;
  outline: none;
  margin-bottom: 12px;
}

.controls .picker-label {
  margin-left: 13px;
}

.controls .number-picker {
  display: inline-block;
  margin-left: 1rem;
  position: relative;
  margin-bottom: 12px;
}

.controls .number-picker input[type="number"] {
  width: 55px;
  height: 40px;
  text-align: center;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: unset;
  border: solid 1px #979797;
  background-color: #fff;
  font-size: 17px;
  font-weight: normal;
  outline: none;
  -webkit-appearance: none;
}

.controls .number-picker input[type="number"]::-webkit-inner-spin-button, .controls .number-picker input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.controls button {
  outline: none;
  margin-left: -5px;
  font-size: 17px;
  width: 32px;
  height: 40px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: solid 1px #979797;
  background-color: #ffffff;
}

.controls button:first-child {
  margin-right: -5px;
  border-radius: unset;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.sc-container iframe {
  width: 100%;
  height: 400px;
}
/*# sourceMappingURL=main.css.map */